html{
  min-height: 100%;
}
*{
  list-style: none;
  text-decoration: none;
  padding: 0;
  font-family: 'Droid Sans Mono', ;
  box-sizing: border-box;
}
p{
  width: 70%;
}
div#header{
  top: 0;
  height: 125px;
  width: 100%;
  min-width: 600px;
  font-size: 20px;
  background-color: #663399;
  margin: 0, auto;
  color:#BDC3C7;
  padding: 15px;
  position:fixed;

}

#header_logo{
  margin: 0 ,auto;
  font-size: 40px;
  color: #E4F1FE;
  padding: 20px;
}

#header_nav{
  top: 125px;
  position: fixed;
  padding: 20px;
  height: 50px;
  width: 100%;
  min-width: 700px;
  background-color: #FFFFFF;

}

#body_container{
  width: 100%;
  margin-top: 175px;
}

#side_panel{
  width: 200px;
  height: 100%;
  color:#BDC3C7;
  background-color: #00587A;
  float: left;
  padding: 25px;
  position: fixed;
}

#content{
  width: 100%;
  margin: auto;
  height: 100%;
  margin-left: 200px;
  color: #FFFFFF;
  background-color: #282830;
  padding: 50px;
}
